.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.task-list-container {
  margin: 0 auto;
  max-width: 600px;
}

.mat-table {
  width: 100%;
}

.mat-cell, .mat-header-cell {
  padding: 12px;
}

.add-button{
  height: 55px;
}
